<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fight-for-the-climate</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <script src="https://kit.fontawesome.com/5421ecffc6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">fight-for-the-climate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mr-2">
                    <span id="site-search"><i class="fas fa-search"></i><input type="text" placeholder="search fact or user"></span>
                </li>
                <li class="nav-item mr-2 active">
                    <a class="nav-link" href="/facts">the facts <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/facts/new">Add a fact</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="https://www.github.com/augusthalverson/fight-for-the-climate">Contribute on GitHub</a>
                </li>
            </ul>
        </div>
    </nav>
    