body {
    font-family: 'Poppins', sans-serif;
}
#navbar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(36, 41, 46);
    color: white;
}
#navbar a {
    color:white
}

#navbar .navbar-brand {
    font-size: 1rem;
}

#site-search {
    background: rgb(63, 68, 72);
    padding: 5px;
    border-radius: .25rem;
}
#site-search i {
    color: grey;
}
#site-search input, #site-search input:focus {
    background: rgb(63, 68, 72);
    border:none;
    caret-color: grey;
    outline:none;
    margin-left: .8rem;
}


.fact-card {
    border: 1px solid rgb(216, 216, 216);
    /* background: rgb(63, 68, 72); */
    padding: 1.5rem 1rem 1rem 1rem;
    /* color: white; */
    color: black;
    border-radius: 1rem;
}

.fact-card-contents {
    padding: 0rem .75rem;
}

.fact-card .upvote {
    color: green;
}   

.fact-card .button-purpose {
    color: black;
    display: none;
}

.fact-card .top-pane {
    display: flex;
    justify-content: space-between;
}

.fact-card .top-pane a {
    color: rgb(197, 197, 201);
    font-size: .8rem;
}

.fact-card .top-pane .upvote {
    font-size: 1.5rem;
}

.fact-card .keep-reading {
    color: lightgray;
    font-style: italic;
}

.vote-button {
    border:none;
}

#page-form {
    margin: 2rem 0;
    padding: 3rem 5rem;
}

#page-form h4 {
    margin-top: 1.5rem;
}
#page-form p {
    color: gray;
}

#page-form label {
    display: none;
}

#page-form input, #page-form textarea {
    border: none;
    padding: .5rem .5rem;
    border-bottom: 1px solid rgb(187, 189, 202);
    width: 100%;
    margin-top: 1rem;
    resize: none;
}

#page-form input:focus, #page-form textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}

#page-form #submit {
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    color: #ffffff;
    margin-top: 1rem;
    background: rgb(10,185,42);
    background: linear-gradient(223deg, rgba(10,185,42,1) 0%, rgba(7,117,70,1) 100%);
}

#page-form #clear {
    border: 1px solid grey;
    border-radius: 3px;
    padding: .5rem 1rem;
    color: grey;
    margin-top: 1rem;
}

#fact-show {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: right;
}

#fact-show h6{
    color: gray;
}

#fact-show .top {
    margin-bottom: 1rem;
}

.dropdown-toggle, .dropdown-toggle:focus {
    border: none;
    color:gray;
    outline: none;
}

#source-container .col-sm-4 img {
    width: 100px;
}

#source-container #edit-photo {
    color: lightgray;
    font-style: italic;
    display: block;
    font-size: .7rem;
}

#source-container #source-info {
    margin-top: 2rem;
}

#source-container #source-info h6 {
    color: lightgray;
    font-style: italic;
}

.prev-page {
    border: 1px solid lightgray;
    padding: .4rem 1rem;
    border-radius: .3rem;
    color: lightgray;
}

.prev-page:hover {
    color: rgb(187, 187, 187);
    border-color: rgb(187, 187, 187);
    text-decoration: none;
}

.centered {
    text-align: center;
}

footer .container {
    font-family: 'Poppins', sans-serif;
    color:grey;
}

footer .row div {
    text-align: center;
}